@model BlogEngine.Core.DataModels.Entry

@{
    ViewBag.Title = "Edit Entry";
    ViewBag.ActiveBlogPage = "EditEntry";
}

@section Scripts
{    
    @*<script type="text/javascript" src="@Url.Content("~/Content/CKEditor/ckeditor.js")"></script>
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/CKEditor/contents.css")" />*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/showdown.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/wmd.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/wmd.css")" />

    <script type="text/javascript">
        $('document').ready(function () {
            $('#txtEntry').wmd();
        });
    </script>
}

<h2>Edit Entry</h2>

@using (Html.BeginForm())
{ 
    @Html.HiddenFor(m => m.CreateDate)
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="span16">
            <h3>Title</h3>
            <br />
            @Html.TextBoxFor(m => m.Title, new { @class = "span6" })
        </div>
    </div>
    <div class="row">
        <div class="span16">
            <h3>Body</h3>
            <br />
            @Html.TextAreaFor(m => m.EntryText, 20, 200, new { id = "txtEntry" })
        </div>
    </div>
    <div class="row">
        <div class="span16">
            <h3>Tags</h3>
            <br />
            @Html.TextBoxFor(m => m.Tags, new { @class = "span6" })
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="span15">
            <input type="submit" value="Edit" class="btn primary span2" />
        </div>
    </div>
}
